<div class="row">
  <img *ngIf="!pokemonsLoaded" src="../../assets/gif.gif" />
  <div class="row" *ngIf="pokemonsLoaded && pokemonList">
    <div class="col-sm-3" *ngFor="let pokemon of pokemonList">
      <a
        [routerLink]="['/pokemonDetailComponent']"
        [queryParams]="{ url: pokemon.url }"
        class="btn"
      >
        <div class="card customCardStyle">
          <img
            class="card-img-top"
            src="{{ pokemon?.imageUrl }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon?.name }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm offset-sm-3">
    <button
      type="button"
      (click)="onPrevious()"
      [disabled]="offset === 0"
      class="btn btn-primary page-button"
    >
      Previous
    </button>
    <button
      type="button"
      (click)="onNext()"
      class="btn btn-primary page-button"
    >
      Next
    </button>
  </div>
</div>
