<h1>Welcome to the Pokemon App</h1>

<pre>
1. Clicking on 'Pokemon' tab will open the list of pokemons
 -User can navigate to and from pages using next and previous buttons
 -Clicking on a pokemon in the list will take the user to the details page of Pokemon.
  
 2. Create product page:
  -User Can create product from this page
  -No validation has been inclued yet
  
 5. Product list
  - Will get list of products created from local storage
  - will redirect the page through canActivate flag to new page "not authorised component"
</pre>
