<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/pokemonHomeComponent"
          routerLinkActive="active"
          >Pokemon</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/homePageComponent"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.disabled]="true"
          routerLink="/pokemonDetailComponent"
          routerLinkActive="active"
          >Detail</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/pokemonProductCreateComponent"
          routerLinkActive="active"
          >Create Product</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/pokemonProductListComponent"
          routerLinkActive="active"
          >Product List</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input
        class="form-control mr-sm-2"
        name="search"
        ngModel
        #search="ngModel"
        placeholder="Search"
      />
      <button class="btn btn-dark my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<!-- <nav>
  <ul>
    <li>
      <a routerLink="/pokemonHomeComponent" routerLinkActive="active"
        >First Component</a
      >
    </li>
    <li>
      <a routerLink="/pokemonDetailComponent" routerLinkActive="active"
        >Second Component</a
      >
    </li>
  </ul>
</nav> -->

<router-outlet></router-outlet>
