.pok-type {
  height: 50 px;
  width: 100 px;
  background-color: rgb(45, 224, 75);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.main-heading {
  text-align: center;
  padding: 15px;
  background-color: rgb(41, 126, 55);
  color: white;
}

.sub-heading {
  padding: 15px;
  background-color: rgb(41, 126, 55);
  color: white;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.pokemon-image {
  width: 150px !important;
  height: 150px !important;
}

h1,
label {
  text-align: center;
}

.blue-square-container {
  text-align: center;
}

.blue-square {
  display: inline-block;
}

.yellow-square {
  background-color: #ffdc00;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.green-square {
  background-color: #3d9970;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
